.container {
  max-width: 550px;
  min-height: 50px;
  margin: 0 auto;
  background-color: #efefef;
  box-shadow: 0 0 10px gray ;
  margin-top: 10px;
  padding: 1px 60px;

}
.text-center{
  color: blueviolet;
  text-align: center;
}

.expense-container{
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px gray ;
}
.transaction-list {
  margin: 0;
  padding: 0;
}
.transaction-list>li {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px gray ; 
  padding: 10px 5px;
  margin: 5px 0;
  background-color: white;
}

.transaction-form input{
  width: 100%;
  margin: 10px 0;
  padding: 5px 0;


}
.button {
  background-color: violet;
}
  
  